<div id="out"></div>
<div id="search">
  <%= render 'environment_form' %>
</div>
<div id="results">
<div class="row">
  <div class="column_4 hatch" id="action"></div>
  <div class="column_4 hatch" id="climate"></div>
  <div class="column_4 hatch" id="clothing"></div>
</div>




