<h1> Hola Mundo! </h1>


<div id="out"></div>
<div id="search">
  <%= render 'environment_form' %>
</div>
<div id="results">
<div class="row">
  <div class="column_4" id="action"></div>
  <div class="column_4" id="climate"></div>
  <div class="column_4" id="clothing"></div>
</div>



