<div id="out"></div>
<div id="search">
  <%= render 'environment_form' %>
</div>
<div id="area"></div>
<div id="results">
<div class="row">
  <div class="column_4" id="action"></div>
  <div class="column_4" id="climate"></div>
  <div class="column_4" id="clothing"></div>
</div>
<div class="row">
  <div class="column_4" id="temperature"></div>
  <div class="column_4" id="conditions"></div>
  <div class="column_4" id="windy"></div>
</div>




